body {
    max-width: 60em;
    margin: 0 auto 0 auto;
    background-color: antiquewhite;
    }
    
    table, th, td {
    border-collapse: collapse;
    border: 1px solid #5a4c4c;
    padding: 5px;
    }

    .header {
      background-color: #F1F1F1;
      text-align: center;
      padding: 5px;
    }

/*main*/
nav a {
  background: rgba(87, 54, 4);
  font-family: otsikko, "sans serif";
  color:whitesmoke;
  text-decoration: none;
  display: inline-block;
  border: 2px solid rgba(87, 54, 4);
}
nav a:hover {
  color: rgba(87, 54, 4);
  background-color: whitesmoke;
}
#valittu {
  color: rgba(87, 54, 4);
  background-color:rgba(255, 235, 205, 0.6);
}


    .image-container {
        position: relative;
        display: inline-block;
    }
    .image-container {
        display: block;
        width: 100%;
        height: auto;
    }

    .overlay-text {
        position: absolute;
        top: 50%;
        left: 20%;
        background-color: aliceblue;
        font-family:fantasy;
        color: rgb(41, 39, 39);
        font-size: 25px;
        
    }
    
    p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.895);
        ;
      }
    
      title {
        color: darkred;
        position: center;
      }
    
      h1{
        color: darkgreen;
        font-size: 30px;
        font-family: fantasy;
        
      }

      h2{
        color: darkgreen;
        font-size: 30px;
        font-family: fantasy;
        
      }
      footer{
        position: fixed;
        text-align: left;
        width: 100%;
        max-height: 15%;
        flex-direction: row;
        justify-content: space-around;
        display: flex;
        padding-bottom: 15%;
      }

/* for mobile*/
      @media (max-width: 600px){
        footer
          flex-direction: column;
          text-align: center;
      }
      nav a { 
        font-size: 15px;
        width: 100px;
        height: 20px;
        padding: 7px;
        margin:3px 5px;
    }
    h1 {
      font-size: 25px;
  }
  h2{
    font-size: 20px;
}
h3 {
  font-size: 18px;
}
video { 
  width: 50%; 
  min-width: 100px;
  }